# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Remote ignores (Python)
.env
.venv/
__pycache__/
frontend/node_modules

# Firebase Secrets
sql-llm-agent-264cf-firebase-adminsdk-fbsvc-5305d0da22.json
